[submodule "themes/dream"]
	path = themes/dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = https://github.com/ajmalsiddiqui/hugo-theme-noteworthy
